<!DOCTYPE html>
<html lang="en">
<head>
    {{ include '../base-header.html' }}
    <title>登陆</title>
</head>
<body>
    <div>登陆</div>
    <form action="" method="post">
        <input type="text">
        <input type="password">
        <button>登陆</button>
    </form>
</body>
</html>