<!DOCTYPE html>
<html lang="en">

<head>
    {{ include '../common/base-header.html' }}
    <link rel="stylesheet" href="/css/register.css">
    <script src="/js/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="form-wrap flex-center">
        <form action="" id="form">
            <span>用户名</span>
            <input type="text" name="username">
            <br>
            <span>邮箱</span>
            <input type="text" name="email">
            <br>
            <span>密码</span>
            <input type="password" name="password">
            <br>
            <button id="submit">注册</button>
        </form>
    </div>
    <script>
        (function () {
            $('#submit').click(function (e) {
                e.preventDefault()
                $.ajax({
                    url: '{{ regUrl }}',
                    type: 'post',
                    data: $('#form').serialize(),
                    success: function (res) {
                        alert(res)
                    }
                })
            })
        })()
    </script>
</body>

</html>