<!DOCTYPE html>
<html lang="en">

<head>
    {{ include '../common/base-header.html' }}
    <link rel="stylesheet" href="/css/register.css">
    <script src="/js/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <form action="" id="form" class="widnow-center flex-col space-between">
        <div class="title">Mino</div>
        <div class="input-wrap flex-row space-between">
            <label for="">用户名</label>
            <input type="text" name="username">
        </div>
        <div class="input-wrap flex-row space-between">
            <label for="">邮箱</label>
            <input type="email" name="email">
        </div>
        <div class="input-wrap flex-row space-between">
            <label for="">密码</label>
            <input type="password" name="password">
        </div>
        <div class="login-btn">注册</div>
    </form>
    <script>
        (function () {
            $('.login-btn').click(function (e) {
                e.preventDefault()
                $.ajax({
                    url: '{{ regUrl }}',
                    type: 'post',
                    data: $('#form').serialize(),
                    success: function (res) {
                        alert(res)
                    }
                })
            })
        })()
    </script>
</body>

</html>