.flex-row,
.flex-col { display: flex; align-items: center; } 

/* flex布局 */
.flex-row { flex-direction: row; } 
.flex-col { flex-direction: column; } 
.center { justify-content: center; } 
.space-around { justify-content: space-around; } 
.space-between { justify-content: space-between; } 

/* 全局样式 */
.widnow-center { position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; } 