/* body { background: url('/img/regbk.png'); background-repeat: no-repeat; background-size: cover; background-position-y: 50%; background-attachment: fixed; }  */

body {background: #1a535c;}

input { border: unset; border-radius: 2px; padding: 8px; background: #fff; outline: none; } 

#form { width: 400px; height: 500px; background: rgba(0, 0, 0, .5); border-radius: 5px; border-top: 3px solid #ffe66d; color: #fff; } 

#form .title { padding-top: 30px; font-size: 30px; } 

#form .input-wrap { width: 65%; } 

#form .login-btn { width: 100%; height: 50px; font-size: 18px; text-align: center; line-height: 50px; background: rebeccapurple; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; } 